.background{
	width: 1080px;
	height:1920px;
	z-index:-2;
	position:fixed;
	top:0px;
	left:0px;
}

video.screensaver{
	width: 1080px;
	height:1920px;
	z-index:-1;
	position:fixed;
	top:0px;
	left:0px;
}

#sec02{
	background-image: url('../imgs/page02.png');
}

#sec03{
	background-image: url('../imgs/page03.png');
}

#sec04{
	background-image: url('../imgs/page04.png');
}

#sec05{
	background-image: url('../imgs/page05.png');
}
